body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.name-color{
    color: darkmagenta;
}
p{
    
}
.flexible-continer{
    display:flex;
    margin: 20px;

}
.half-width{
    width: 100%;
    padding-left: 9%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-right: 5%;
    align-self: center;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
    background-color: rgb(168, 106, 226);
    background-image: linear-gradient(rgb(131, 47, 241),rgb(38, 5, 172));
    padding: 10px 40px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(img/pic\ 2.png);
    background-repeat: no-repeat;
    background-size:cover;

}
.dream-big{
    background-color: cadetblue;
    background: position 100%;
}
.experience-area